<div class="container mt-4">

       <div class="d-flex justify-content-end mb-3">
            <div class="btn-group">
                <a class="btn btn-primary me-2" href="/task/new" role="button">新規タスク</a>
                <a class="btn btn-secondary" href="/user/logout" role="button">ログアウト</a>
            </div>
        </div>

        <div class="mb-3">
            <p class="text-end">ログイン中のユーザー: <strong><%= @user_name %></strong></p>
        </div>

        <% if @tasks.present? %>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="table">
                    <tr>
                        <th>番号</th>
                        <th>タスク名</th>
                        <th>内容</th>
                        <th>優先度</th>
                        <th>状態</th>
                        <th>作成日時</th>
                        <th>更新日時</th>
                        <th>更新</th>
                        <th>削除</th>
                    </tr>
                </thead>
                <tbody>
                    <% @tasks.each do |task| %>
                        <tr>
                            <td><%= task.task_id %></td>
                            <td><%= truncate(task.name, length: 20) %></td>
                            <td><%= truncate(task.description, length: 20) %></td>
                            <td><%= task.priority.to_name %></td>
                            <td><%= task.status.to_name %></td>
                            <td><%= task.created.strftime('%Y-%m-%d %H:%M:%S') %></td>
                            <td><%= task.updated.strftime('%Y-%m-%d %H:%M:%S') %></td>
                            <td>
                                <a class="btn btn-primary me-2" href="/task/edit/<%= task.task_id %>" role="button">更新</a>
                            </td>
                            <td>
                                <a class="btn btn-danger me-2" 
                                data-action="click->task--delete-task#delete" 
                                data-controller="task--delete-task"
                                data-task--delete-task-task-id-value="<%= task.task_id %>"
                                data-action="click->task--delete-task#delete" 
                                role="button">削除</a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

<nav aria-label="Page navigation example">
 
  <ul class="pagination justify-content-center">
    <% if @page > 1 %>
        <li class="page-item">
            <a class="page-link" href="/task/list?page=<%= @page - 1 %>&per_page=<%= @per_page %>&priorty=<%= @priority_sort %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>">Previous</a>
        </li>
    <% else %>
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
    <% end %>
    <% if @page + (@max_page_button_number - 1) < @total_pages %>
        <% for i in @page..@page + @max_page_button_number - 1 %>
            <% if @page == i %>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/task/list?page=<%= i %>&per_page=<%= @per_page %>&priorty=<%= @priority_sort %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>"><%= i %></a>
                </li>
            <% else %>
                <li class="page-item">
                    <a class="page-link" href="/task/list?page=<%= i %>&per_page=<%= @per_page %>&priorty=<%= @priority_sort %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>"><%= i %></a>
                </li>
            <% end %>
        <% end %>
    <% elsif @page + (@max_page_button_number - 1) >= @total_pages %>
        <% for i in @page..@total_pages %>
            <% if @page == i %>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/task/list?page=<%= i %>&per_page=<%= @per_page %>&priorty=<%= @priority %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>"><%= i %></a>
                </li>
            <% else %>
                <li class="page-item">
                    <a class="page-link" href="/task/list?page=<%= i %>&per_page=<%= @per_page %>&priorty=<%= @priority %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>"><%= i %></a>
                </li>
            <% end %>
        <% end %>
    <% end %>

    <% if @page < @total_pages %>
        <li class="page-item">
            <a class="page-link" href="/task/list?page=<%= @page + 1 %>&per_page=<%= @per_page %>&priorty=<%= @priority_sort %>&created=<%= @created_sort %>&updated=<%= @updated_sort %>">Next</a>
        </li>
    <% else %>
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
    <% end %>
  </ul>
</nav>
        <% else %>
            <p>タスクを見つかりません。</p>
        <% end %>
    </div>


